
{% block footer %}

<div class="container-fluid">
	<div class="row p-3 mb-2 bg-light text-dark">
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2" viewBox="0 0 32 32" focusable="false"><title>Import</title><path d="M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8"></path></svg>
			<div>
				<h3>Installation :</h3>
				<p>
					Vous pouvez telecharger notre application sur vos smartphones.<br>
					Ce-ci vous permettera d'avoir une certaine autonomie.<br>
				</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2" viewBox="0 0 32 32" focusable="false"><title>Download</title><path d="M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14"></path></svg>
			<div>
				<h3>RackTack Cloud :</h3>
				<p>
					Nous prevoyons des sauvegardes en ligne pour des taches à longue durée<br>
					Ce-ci permettra aux utilisateurs d'avoir un lieu de sauvegarde sûr.<br>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock footer %}